UPSTAGE_API_KEY=""
OPENAI_API_KEY=""

# LangSmith configuration
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

# teddynote 방식 사용 여부
USE_TEDDYNOTE="true"